/* font colors */
html, body {
  font-family: "Roboto Condensed", sans-serif;
  height: 100%;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #393E41; }

button {
  margin: 1rem 0 2rem 0; }

p.output {
  color: #633e82;
  font-weight: 10rem;
  font-size: 2rem; }

/* xs and smaller */
