/* font colors*/

$primary-color: #393E41
$output-color: #633e82
$light-bg-color: #BDEDE0
$lighter-bg-color: #D7FFF1


html,body
  font-family: 'Roboto Condensed', sans-serif
  height: 100%
  width: 100%

h1, h2, h3, h4, h5, h6,
  color: $primary-color

button
  margin: 1rem 0 2rem 0

p.output
  color: $output-color
  font-weight: 10rem
  font-size: 2rem



/* xs and smaller */
@media (max-width: 575px)
